* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: $color-dark;
  color: $color-light;
}

a {
  display: inline-block;
  color: $color-white;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  @include flex-center;
  column-gap: 2.3rem;
  justify-content: space-between;

  &__buttons {
    @include flex-center;
    gap: 2rem;
  }

  &__buttons--login {
    padding: 0.7rem 0;
    color: $color-gray;
    background-color: transparent;
  }

  &__buttons--signup {
    padding: 0.8rem 2.1rem;
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-white;
    border-radius: 3.2rem;
    width: 9.5rem;
    height: 3.5rem;
  }
}

.nav {
  @include flex-center;
  justify-content: space-between;
  gap: 2.9rem;

  &__items {
    list-style: none;
    @include flex-center;
    gap: 2rem;
  }

  &__lists {
    .nav__link {
      color: $color-gray;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 400;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__logo {
    width: 9.7rem;
    height: 3rem;
    object-fit: contain;
  }

  &__burgers {
    display: none;

    span {
      display: inline-block;
      width: 1.5rem;
      height: 0.2rem;
      background-color: $color-white;

    }
  }
}

.link {
  position: relative;
  margin-top: 2rem;
  background-color: $color-blue;
  height: 4.5rem;
  @include flex-center;
  justify-content: center;
  gap: 1.5rem;

  &__click::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.producer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15.1rem;
  padding-left: 5.4rem;
  max-width: 120rem;
  max-height: 74.4rem;
  background: url("../assets/images/main-bg.png") center/ cover no-repeat;
  margin: 0 auto;

  &__title {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 7.2rem;
    max-width: 41.6rem;
    margin-bottom: 2rem;
  }

  &__descr {
    font-size: 2rem;
    max-width: 41.6rem;
    line-height: 2.4rem;
    margin-bottom: 4.4rem;
  }

  &__link {
    background-color: $color-blue;
    padding: 1.6rem 3.2rem;
    border-radius: 0.8rem;
    max-width: 12.8rem;
    margin-bottom: 20rem;
  }
}

.sounds {
  &__wrapper {
    padding: 9.6rem 6.3rem 0 4.8rem;
    @include flex-center;
    flex-direction: row;
    gap: 8.3rem;
  }

  &__image {
    max-width: 572px;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}

.experience {
  text-align: right;

  &__wrapper {
    @include flex-center;
    flex-direction: row-reverse;
    padding: 9.6rem 6.3rem 0 4.8rem;
    gap: 8.3rem;
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.section-title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: $color-gray;
  padding-bottom: 0.5rem;
}

.section-subtitle {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  padding-bottom: 1.2rem;
  color: $color-white;
}

.section-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding-bottom: 2.3rem;
}

.section-btn {
  background-color: $color-blue;
  color: $color-white;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.reviews {
  padding: 12rem 4.8rem;

  &__title {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.6rem;
    padding-bottom: 2.4rem;
  }

  &__wrapper {
    @include flex-center;
    flex-direction: row;
    gap: 1rem;
  }

  &__card {
    border-radius: 0.8rem;
    padding: 3.2rem 3.2rem 3.2rem 4.4rem;
    background-color: $color-white;
    max-width: 36.1rem;
    max-height: 45.3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;

    &__desc {
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.5rem;
      text-align: left;
      color: $color-dark;
    }

    &__author {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
      color: $color-gray;

    }
  }
}

.try {
  @include flex-center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  max-width: 120rem;
  height: 72.8rem;
  background: url("../assets/images/try.png") center/ cover no-repeat;
  margin: 0 auto;

  &__title {
    font-size: 5.4rem;
    font-weight: 400;
    line-height: 6rem;
    text-align: center;
  }
}

.footer {
  padding: 5rem 0;

  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 8rem;
  }

  &__block--link {
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-gray;
    transition: all 0.4s;

    &:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }

  &__link_1 {
    font-size: 2rem;
    color: $color-white;
    line-height: 2.4rem;
  }

  &__link--bt {
    margin-bottom: 2.4rem;
  }

  &__nav--links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
  }

  &__link--about {
    font-size: 1.2rem;
    color: $color-gray;
  }
}

